<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
          const images = document.querySelectorAll("img");

          images.forEach(function (image) {
            const imageContainer = image.parentElement;
            const overlay = document.createElement("div");
            overlay.className = "image-overlay";
            const loader = document.createElement("div");
            loader.className = "loader";
            overlay.appendChild(loader);
            imageContainer.appendChild(overlay);

            image.onload = function () {
              overlay.style.display = "none";
            };
          });
        });
      </script>

  <header>
    <div class="header-container">
      <img class="logo" src="https://cdn.discordapp.com/attachments/1116718992808226837/1139859068278820924/simplfied-mtga-logo.png" alt="Mod Manager Logo">
      <nav>
        <ul class="nav-links">
          <li><a href="#" class="nav-link">Bruh</a></li>
          <li><a href="#" class="nav-link">Yo mom</a></li>
          <li><a href="#" class="nav-link">is hairy</a></li>
        </ul>
      </nav>
    </div>
  </header>

  <div class="container">
    <div class="workshop_header">
    <div class="browseAppDetails">
    </div>
    <div class="workshop_browse_menu_area">
      <div class="workshop_browse_tab active">
        <a href="#">Home</a>
      </div>
      <div class="workshop_browse_tab drop ">
        <a>Installed mods</a>
      </div>
      <div class="workshop_browse_tab ">
        <a href="#">Upload mod</a>
      </div>
      <div class="workshop_browse_tab ">
        <a href="#">Upload policy</a>
      </div>
      <div class="workshop_browse_tab dropdown">
        <a href="#">About AKI</a>
        <div class="dropdown-content">
          <a href="https://discord.gg/Xn9msqQZan" target="_blank">Official AKI Discord</a>
          <a href="https://sp-tarkov.com" target="_blank">Official Website</a>
        </div>
      </div>
    </div>
  </div>
    <div class="main-container">
      <div class="mod-discovery">
        <div class="left-container"> <!--Why does everything in here move around so much when zooming in or out?-->
          <div class="sorting-bar">
            <input type="text" class="search-bar" placeholder="Search AKI...">

          </div>
          <select class="mod-type-select">
            <option value="">All Types</option>
            <option value="client">Client Mod</option>
            <option value="server">Server Mod</option>
            <!-- Add more options as needed -->
          </select>
          <div class="mod-tags-container" style="margin-bottom: 30px">
            <p>Sort by tags</p>
            <div class="mod-tags" style="margin-bottom: 5px">
              <div class="versions">
                <p>Versions</p>
                <a href="#" class="pill version">3.5.0</a>
                <a href="#" class="pill version">Outdated</a>
              </div>
              <div class="type">
                <p>Type</p>
                <a href="#" class="pill">Weapons</a>
                <a href="#" class="pill">Traders</a>
                <a href="#" class="pill">QoL</a>
                <a href="#" class="pill">Music</a>
                <a href="#" class="pill">Quests</a>
                <a href="#" class="pill">Clothing</a>
                <a href="#" class="pill">Profiles</a>
                <a href="#" class="pill">Attachments</a>
                <a href="#" class="pill">Items</a>
                <a href="#" class="pill">Overhaul</a>
                <a href="#" class="pill">Port</a>
                <a href="#" class="pill">Other</a>

              </div>
            </div>
          </div>
        </div>

        <div class="slideshow-container">
          <!-- Slideshow content... -->
        </div>

        <div class="mod-results">
          <br>
          Latest mods
          {{range .Mods}}
          <div class="mod_entry_row" onclick="modPage({{.ID}})" style="cursor:pointer;">
            <img class="preview_image" src="{{.ImageURL}}" alt="{{.Title}}">
            <div class="mod_entry_title ellipsis">{{.Title}}</div>
            <div class="user_actions"></div>
            <div class="mod_author">By {{.Author}}</div>
            <div class="mod_tags ellipsis tag version">{{.Version}}</div>
            {{range .Tags}}
            <div class="mod_tags ellipsis tag">{{.}}</div>
            {{end}}
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
  <div class="loading-box" style="display: none;"></div>
</body>
</html>
