@keyframes loadingAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--GithubM-dark) #0d1117;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 13px;
  }

  *::-webkit-scrollbar-track {
    background: #0d1117;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--GithubM-dark);
    border-radius: 5px;
    border: 3px solid #21262d;
  }

/* Keep this in memory so we can use it when loading other content, */

.loading-box {
    position: absolute;
    display: none;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #2F81F7;
    border-radius: 50%;
    animation: loadingAnimation 1s linear infinite;
    margin: 20px auto;
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }

  .grab-button {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #262f83;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute; /* Position relative to the parent element */
    top: 50%; /* Position halfway down the parent */
    transform: translateY(-50%); /* Adjust to vertically center */
    right: 64px; /* Adjust the value as needed */
}

  /* Optional hover effect */
  .grab-button:hover {
    background-color: #008800; /* Darker green on hover */
    cursor: pointer;
  }

 .slideshow-container {
    position: relative;
    max-width: 630px;
    height: 400px;
    overflow: hidden;
    background-color: var(--GithubA-dark);
    border: #21262D 1px;
    padding: 5px;
    left: 35px;
  }
  .slideshow-item {
    display: none;
    width: 100%;
    height: 100%;
  }
  .slideshow-item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  .slideshow-item-details {
    background-color: rgb(0 0 0 / 40%);
    color: white;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

.image-container {
    position: relative;
    overflow: hidden;
  }

  .image-container img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
  }

  .image-container::before,
  .image-container::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    background-image: inherit;
    filter: blur(20px);
    transition: opacity 0.3s ease-in-out;
  }

  .image-container::before {
    left: 0;
    transform: scaleX(2) translateX(-50%);
  }

  .image-container::after {
    right: 0;
    transform: scaleX(2) translateX(50%);
  }

  .blurred-sidebars::before,
.blurred-sidebars::after {
  opacity: 0.5; /* Adjust as needed */
}

  #prevBtn,
  #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
    z-index: 1;
  }

  #prevBtn {
    left: 10px;
  }

  #nextBtn {
    right: 10px;
  }

.header-container {
    background-color: #1E2327;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: -webkit-fill-available;
    top: 0px;
    left: 0px;
    z-index: 1;
    /* Ensure the header stays above other content because its fucking retarded with this flex style */
    overflow: hidden;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    height: 50px;
    width: min-content;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

.nav-link {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #2F81F7;
}

body {
    background-color: var(--GithubM-dark);
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    /* flex-direction: row; */
    align-items: flex-end;
    /* position: absolute; */
    /* margin-top: 230px; */
    width: fit-content;
    left: 50vw;
    /* height: fit-content; */
    align-content: flex-end;
    flex-wrap: nowrap;
    max-width: fit-content;
    justify-content: flex-start;
}

.left-container {
    position: relative;
    padding: 10px;
    max-width: 200px;
    background-color: var(--GithubA-dark);
    height: fit-content;
    float: right;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    right: 0%;
    margin: auto;
}

.mod-discovery {
    /* flex-direction: column-reverse; */
    /* flex-direction: column-reverse; */
    height: fit-content;
    /* flex-grow: 1; */
    background-color: var(--GithubA-dark);
    width: 957px;
    flex-wrap: nowrap;
    align-content: flex-start;
    overflow: hidden;
    position: absolute;
    left: 24.9vw;
    top: 24rem;
    justify-content: center;
    align-items: stretch;
}

.workshop_header {
    background-image: url(https://i.imgur.com/j5Tbhz3.png);
    max-width: max-content;
    height: 203px;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 0 6px 0 #000000;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    width: 170%;
    left: 25%;
    top: 190px;
    background-size: cover;
    color: white;
    backdrop-filter: blur(8px);
}

.sorting-bar {
    /* display: flex; */
    /* align-items: center; */
    margin-bottom: 20px;
}

.search-bar,
.mod-type-select {
    padding: 5px;
    border: 1px solid #2F81F7;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #000000;
    margin: 0 10px;
}

.mod-results {
    margin-top: 20px;
    position: relative;
    height: fit-content;
    width: fit-content;
}

.mod-tags {
    display: inline;
    align-items: center;
    margin-top: 20px;
	height: fit-content;
}


.pill {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #6E6969;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 5px;
    position: relative;
    transition: color 0.7s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adjust values as needed */
}

.pill::before {
    content: "";
    position: absolute;
    left: 5px;
    font-weight: bold;
}

/* Add this for hover effect */
.pill:hover {
    border: white 1px solid;

}

.pill.version {
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: var(--Github-orange);
    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 5px;
    position: relative;
    transition: color 0.7s ease;
}

.pill.version::before {
    content: "";
    position: absolute;
    left: 5px;
    font-weight: bold;
}

/* Add this for hover effect */
.pill.version:hover {
        border: white 1px solid;

    }

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://community.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Regular.ttf?v=4.015') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://community.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Light.ttf?v=4.015') format('truetype');
    font-weight: 300;
    /* Light */
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://community.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Thin.ttf?v=4.015') format('truetype');
    font-weight: 200;
    /* Ultra-Light / Thin */
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://community.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Medium.ttf?v=4.015') format('truetype');
    font-weight: 500;
    /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://community.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Bold.ttf?v=4.015') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://community.akamai.steamstatic.com/public/shared/fonts/MotivaSans-RegularItalic.ttf?v=4.015') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://community.akamai.steamstatic.com/public/shared/fonts/MotivaSans-LightItalic.ttf?v=4.015') format('truetype');
    font-weight: 300;
    /* Light */
    font-style: italic;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://community.akamai.steamstatic.com/public/shared/fonts/MotivaSans-BoldItalic.ttf?v=4.015') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Motiva Sans';
    src: url('https://community.akamai.steamstatic.com/public/shared/fonts/MotivaSans-Black.ttf?v=4.015') format('truetype');
    font-weight: 900;
    /* Black */
    font-style: normal;
}

body {
    background: #1b2838;
    text-align: left;
    color: #636363;
    font-size: 14px;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

body {
    background: #1b2838;
    text-align: left;
    color: #8F98A0;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, Verdana, sans-serif;
}

body {
    background: var(--GithubM-dark);
    color: #acb2b8;
}

body {
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

body {
    color: #969696;
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
}

html {
    height: 100%;
}

:root {
    --GithubM-dark: #010409;
    --GithubA-dark: #0D1117;
    --Github-orange: #F78166 ;
    --text-color: #EDEDED;
    --aki-orange: #ffc107;
    --mtga-blue: #262f83;
}

@media screen and (min-width: 1280px) {
    :root {
        /* --gpSpace-Gutter: calc(24px + 2vw); */
    }
}

.workshop_header {
    max-width: max-content;
    height: 203px;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 0 6px 0 #000000;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    width: 100%;
    left: 25%;
    top: 150px;
    z-index: 1;
}

:selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .6666666667);
    color: #fff;
}

:-webkit-scrollbar {
    height: 12px;
    width: 14px;
    background: rgba(0, 0, 0, 0);
    z-index: 12;
    overflow: visible;
}

:-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, .1);
}

:-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #434953;
    border-radius: 10px;
    z-index: 12;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    transition: background-color .32s ease-in-out;
    margin: 4px;
    min-height: 32px;
    min-width: 32px;
}

:-webkit-scrollbar-corner {
    background: #202020;
}

:-webkit-scrollbar-thumb:hover {
    background-color: #4e5157;
}

.browseAppDetails {
    display: table;
    width: 958px;
    height: 160px;
    position: relative;
}

.workshop_browse_menu_area {
    position: absolute;

    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 25px;
    padding-left: 20px;
    /* background: -webkit-linear-gradient( left, rgba( 43, 60, 85, 0.8 ) 5%,rgba( 42, 63, 95, 0.2 ) 95%); */
    /* background: linear-gradient( to right, rgba( 43, 60, 85, 0.8 ) 5%,rgba( 42, 63, 95, 0.2 ) 95%); */
    text-align: left;
    border-bottom: none;
    padding-bottom: 8px;
}

.workshop_browse_tab {
    font-size: 14px;
    display: inline-block;
    padding-right: 94px;
    color: #cccccc;
    line-height: 25px;
}


.workshop_browse_tab.active {
    padding-bottom: 8px;
}

.workshop_browse_tab.active::before {
    content: "^";
    /* display: block; */
    color: #2f81f7;
    font-size: 18px;
    position: relative;
    top: 23px;
    left: 62%;
}

.workshop_browse_tab.drop {
    /* padding-right: 0px; */
}

a {
    color: #ebebeb;
    text-decoration: none;
    cursor: pointer;
}

.workshop_browse_tab a {
    color: #cccccc;
    padding-left: 10px;
}

.workshop_browse_tab.active a {
    color: #fff;
}

.workshop_browse_tab a:hover,
.workshop_browse_tab.active a:hover {
    color: #67c1f5;
}

input {
    font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

input[type="text"] {
    color: #909090;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #000;
    border-radius: 3px;
}

img {
    border: none;
}

img {
    -webkit-user-drag: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--GithubA-dark);
    min-width: 160px;
    z-index: 200; /* Increase the z-index value */
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}


.workshop_browse_tab.dropdown {
  position: relative;
	z-index: 2;
}


.workshop_browse_tab.dropdown:hover .dropdown-content {
  display: block;
	z-index: 3;
}


.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
	z-index: 4;
}


.dropdown-content a:hover {
  background-color: #2F81F7;
}


.workshop_browse_tab.dropdown:hover .dropdown-content {
  display: block;
}

html {
    height: 100%;
}

.mod_entry_row {
    padding: 3px;
    margin-bottom: 5px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid rgba(0,0,0,0);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
    background-attachment: scroll;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    display: flow-root;
    width: 731px;
    height: fit-content;
    overflow: hidden;
    position: relative;
}

.mod_entry_row:hover {
    border: 1px solid #66c0f4;
}

:selection {
    background: #54a5d4;
    text-shadow: 1px 1px 2px rgba(0,0,0,.6666666667);
    color: #fff;
}

img {
    border: none;
}

img {
    -webkit-user-drag: none;
}

.preview_image  {
    width: 77px;
    height: 77px;
    float: left;
    margin-right: 14px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ellipsis.tag {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #6E6969;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 5px;
    position: relative;
}


.ellipsis.tag.version {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: var(--Github-orange);
    color: white;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 5px;
    position: relative;
}

.mod_entry_title  {
    padding-top: 10px;
    font-size: 14px;
    color: #c6d4df;
}

.user_actions {
    position: absolute;
    right: 0px;
}

.user_actions  {
    right: 12px;
}

.mod_rating  { /* Might not use. */
    padding-top: 5px;
    padding-bottom: 10px;
}

.mod_author {
    margin-bottom: 5px;
}

.mod_tags  {
    color: #8f98a0;
}
